
*.meta
*.scenetemplate
/BGame/Library
/BGame/Logs
/BGame/Temp
/BGame/UserSettings
/BGame-2d/Library
/BGame-2d/Temp
/BGame-2d/UserSettings
*.log
/BGame-2d/Packages
*.asset
BGame-2d/Assets/TileMap/.DS_Store
BGame-2d/Assets/.DS_Store
BGame-2d/.DS_Store
